.signin {
     display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background-color: aliceblue;
}
.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
}
input{
    padding: 10px 40px 10px 40px;
    border: 2px solid black;
    border-radius: 20px;
}
button{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 20px;
}