body{
    background-color: rgb(245, 238, 220);
}
.name{
    margin-left: 40px;
    color:rgb(133, 0, 0);
}
.head{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 0;
    justify-content:space-between;
    border: 2px solid black;
    border-radius: 50px;   
}
.nav{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    gap: 80px;
    margin-top: 30px; 
}
a{
    text-decoration: none;
    color:rgb(194, 42, 42);
}
.mypic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.dis{
    margin-top: 30px;
}
.aboutdiv{
    display: flex;
    flex-direction: row; 
    gap: 20px;
};
.footers{
    border: 2px solid black;
    border-radius: 50px;
}
/* Dev  Shivansh Vasu */